*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body{
  height: 100vh;
  background-color: black;
}

#first{
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  gap: 30px;
  flex-wrap: wrap;
}

.user{
  width: 200px;
  text-align: center;
  padding: 5px;
  border: 2px solid white;
  border-radius: 5px;
}
h1{
  color: white;
  text-align: center;
  margin: 20px 0px;
}

img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

h1{
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
}

h2{
  font-size: 20px;
  color: white;

}

a{
  text-decoration: none;
  color: orange;

}