*{
  height: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}


body {
  background-color: #0a0a0a;
  display: flex;
  justify-content: center;
}

.coantiner{ 
  background-color: whitesmoke;
  border: 1px solid black;
  font-size: 40px;
  color: white;
  width: 70%;
  border-radius: 5px;
}